<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>Introdução ao NodeJS</title>
</head>
<body>
    <h1>Página de detalhe</h1>
    <ul>
        <li><%= cliente.nome %> - <%= cliente.email %></li>
    </ul>
</body>
</html>